{% extends "base_crm.html" %}
{% load i18n %}

{% block content %}
<div class="form-wrapper">
	<form method="post" action="/crmapp/userclient">
		{% if form.errors %}
			{% include "user_clients/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "user_clients/partials/field.html" %}
		{% endfor %}
		<table border="1">
			<tr>
				<th>序号</th>
				<th>公司名称</th>
				<th>所属销售</th>
			</tr>
			{% for client in clients %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ client.CompanyName }}</td>
					<td>{{ client.Owner }}</td>
				</tr>
				
			{% endfor %}
		</table>
		
		
		<br>

		<div class="button-wrapper submit">
			
			<input class="btn btn-primary" type="submit" value="{% trans 'AddClient' %}">

		</div>	
	</form>
</div>
{% endblock %}