{% extends "../base_search.html" %}

{% block title %}<title>新增机构</title>
{% endblock %}

{% block mainbody %}
<!-- 导航栏 -->
<!-- 导航栏 -->
<div class="container navigation">
	<div class="row">
		<div class="col nav">
			<ul class="pc-nav">
				<li><a href="/index.html">首页</a></li>
				<li><a href="/base/searchOrganization">查询机构</a></li>
				<!--<li><a href="/css/css-tutorial.html">CSS</a></li>
				<li><a href="/js/js-tutorial.html">JavaScript</a></li>
				<li><a href="/jquery/jquery-tutorial.html">jQuery</a></li>
				<li><a href="/bootstrap/bootstrap-tutorial.html">Bootstrap</a></li>
				<li><a href="/sql/sql-tutorial.html">SQL</a></li>
				<li><a href="/mysql/mysql-tutorial.html">MySQL</a></li>
				<li><a href="/php/php-tutorial.html">PHP</a></li>
				<li><a href="/python/python-tutorial.html">Python2</a></li>
				<li><a href="/python3/python3-tutorial.html">Python3</a></li>
				<li><a href="/cprogramming/c-tutorial.html">C</a></li>
				<li><a href="/cplusplus/cpp-tutorial.html">C++</a></li>
				<li><a href="/csharp/csharp-tutorial.html">C#</a></li>
				<li><a href="/java/java-tutorial.html">Java</a></li>
				<li><a href="/sitemap">更多……</a></li>-->
				<!--
				<li><a href="javascript:;" class="runoob-pop">登录</a></li>
				-->
      		</ul>
			<!--<ul class="mobile-nav">
				<li><a href="//www.runoob.com/">首页</a></li>
				<li><a href="/html/html-tutorial.html">HTML</a></li>
				<li><a href="/css/css-tutorial.html">CSS</a></li>
				<li><a href="/js/js-tutorial.html">JavaScript</a></li>
				<a href="javascript:void(0)" class="search-reveal">Search</a> 
			</ul>-->
			
		</div>
	</div>
</div><!--  内容  -->
<div class="container main">
	<!-- 中间 -->
	<div class="row">
	
<div class="col left-column">
<center>
<form action="/add" method="get">
	<table cellspacing="0" cellpadding="0" border="0">
   <tr>
    <td>机构编码:</td>
    <td><input type="text" name="organizationcode"/></td>
   </tr>
   <tr>
    <td>机构名称:</td>
    <td><input type="text" name="name"/></td>
   </tr>
   <tr>
    <td>手机号:</td>
    <td><input type="text" name="phone"/></td>
   </tr>
   <tr>
    <td>机构地址:</td>
    <td><input type="text" name="address"/></td>
   </tr>
   <tr>
    <td>备注:</td>
    <td><input type="text" name="remark"/></td>
   </tr>
   <tr>
    <td colspan="1" align="center">
    <input type="submit" value="确定"></td>
   </tr>
</table>
	<!--<label for="organization">机构编码:</label>
	<input type="text" name="organizationcode" id='organization'></br>
	<label for="name">机构名称:</label>
	<input type="text" name="name" id='name'></br>
	<label for="phone">手机号:</label>
	<input type="text" name="phone" id='phone'></br>
	<label for="address">机构地址:</label>
	<input type="text" name="address" id='address'></br>
	<label for="remark">备注:</label>
	<input type="text" name="remark" id='remark'></br>
	<input type="submit" value="确定">-->
</form>
</center>
{% endblock %}