{% extends 'basemain.html' %}

{% block title %}个人信息修改{% endblock %}

{% block content %}

<h2>当前用户信息</h2>

<div id="app">
	<table class="table table-hover form-group">
		<thead>
			<tr>
				<th>编号</th>
				<th>项目</th>
				<th>值</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>账户 （不可改）</td>
				<td><span v-text="email" class="form-control"></span></td>
			</tr>
			<tr>
				<td>2</td>
				<td>姓名</td>
				<td><input v-model="name" class="form-control"></td>
			</tr>
			<tr>
				<td>3</td>
				<td>年龄</td>
				<td><input v-model="age" class="form-control"></td>
			</tr>
			<tr>
				<td>4</td>
				<td>性别</td>
				<td>
					<select v-model="sex">
						<option value="男">男</option>
						<option value="女">女</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>5</td>
				<td>身份证</td>
				<td><input v-model="idCard" class="form-control"></td>
			</tr>
			<tr>
				<td>6</td>
				<td>医保卡</td>
				<td><input v-model="ybCard" class="form-control"></td>
			</tr>
			<tr>
				<td>7</td>
				<td>电话</td>
				<td><input v-model="phone" class="form-control"></td>
			</tr>
			<tr>
				<td>8</td>
				<td>微信</td>
				<td><input v-model="weChat" class="form-control"></td>
			</tr>
			<tr>
				<td>9</td>
				<td>上次登录时间</td>
				<td><span v-text="lastLoginTime" class="form-control"></td>
			</tr>
			<tr>
				<td>10</td>
				<td>备注</td>
				<td><input v-model="remark" class="form-control"></td>
			</tr>
		</tbody>
	</table>
	<button @click="submit" class="btn btn-primary">保存修改</button>
</div>

{% endblock %}

{% block vuejs %}
<script type="text/javascript">
	var vm=new Vue({
		el: '#app',
		data: {
			email: '{{ request.user.email }}',
			name: '{{ request.user.Name }}',
			age: '{{ request.user.Age }}',
			sex: '{{ request.user.Sex }}',
			idCard: '{{ request.user.IDCard}}',
			ybCard: '{{ request.user.YBCard}}',
			phone: '{{ request.user.Phone}}',
			weChat: '{{ request.user.WeChat}}',
			lastLoginTime: '{{ request.user.LastLogTime}}',
			remark: '{{ request.user.Remark}}',
		},
		methods:{
			submit(){
				data_to_send={
					Name: this.name,
					Age: this.age,
					Sex: this.sex,
					IDCard: this.idCard,
					YBCard: this.ybCard,
					Phone: this.phone,
					WeChat: this.weChat,
					Remark: this.remark,
				};
				console.log(data_to_send);
				data_to_send=JSON.stringify(data_to_send);
				console.log(data_to_send);

				$.post('/accounts/profile/',
						data_to_send,
						function(r,err){
						if(err === 'success'){
							alert('修改已保存！')
							return location.assign('/');
						}else{
							return console.log(err);
						}
					});
			},
		},
	});
</script>
{% endblock %}